html, body {
    height: 100%;
    width: 100vw;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #a6a6a6 #c7c7c7;
}

    /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
        width: 16px;
}
    
*::-webkit-scrollbar-track {
        background: #c7c7c7;
}
    
*::-webkit-scrollbar-thumb {
        background-color: #a6a6a6;
        border-radius: 10px;
        border: 3px none #ffffff;
}


@font-face { 
    font-family: 'Poppins'; 
	src: url('./fonts/Poppins-Regular.ttf'); 
} 

@font-face { 
    font-family: 'Pokemon'; 
	src: url('./fonts/Pokemon-Classic.ttf'); 
} 

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
}

.hidden {
    display: none;
    visibility: hidden;
}

/* Splash Screen */

.half-container {
    width: 100%;
    height: 50%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: max(45px);
}

.title {
    width: min(230px);
    height: 106px;
}

.splash-screen.image {
    background-image: url('./imgs/splashscreen.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.action-button {
    padding: 10px 12px;
    color: #fff;
    background-color: #0da31e;
    border-radius: 15px;
    outline: 0;
    border: 0;
    font-family: 'Poppins';
    font-size: 20px;
}

.action-button:hover {
    background-color: #11b924;
}

/* Intro */

.oak {
    width: min(90px);
    height: 150px;
}

.half-container--no-padding {
    padding: 0px;
}

.half-container.intro {

    background-image: url('./imgs/intro.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.half-container.oak-sprite {
    justify-content: center;
}

.dialog-box {
    background-image: url('./imgs/dialog-box.png');
    font-size: 12px;
    background-repeat: no-repeat;
    object-fit: fill;
    background-size: 100% 78px;
    font-family: 'Pokemon';
    min-width: 320px;
    min-height: 78px;
}

.dialog-box > * {
    padding-left: 1.2em;
    margin-top: 0.5em;
    padding-right: 1.85em;
}

/* Game */
.stadium {
    background-image: url('./imgs/stadium.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    justify-content: flex-end;
    padding-bottom: 2em;
    align-items: flex-end;
    padding-right: 2em;
}

.action-panel {
    background-color: #fff;
    border-radius: 15px 15px 0px 0px;
}

.selected-pokemons {
    display: grid;
    grid-template-columns: repeat(auto-fit, 13em);
    padding: 0px;
    list-style: none;
    justify-content: center;
    overflow: auto;
    overflow-x: hidden;
}

.selected-pokemons > * {
    margin: 1em;
    text-align: center;
    border: 0.5px solid #000;
    border-radius: 7.5px;
    height: 222px;
}

.selected-pokemons h1 {
    margin: 0px;
    padding: 0px;
}

.half-container--align-unset {
    align-items: unset;
}

.pokemon-button {
    outline: none;
    border: none;
    border-radius: 7.5px;
    width: 75px;
    height: 75px;
    color: #11b924;
}

/* Add pokemons */
.panel {
    background-color: #f1f1f1;
    color: 000;
    border-radius: 15px 15px;
}

.close-button {
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 7px;
    position: relative;
}

.text-input {
    min-width: 320px;
    border-radius: 7.5px;
    border: none;
    padding: 5px;
    outline: 1px;
}