/* Main */

html, body {
    height: 100%;
    width: 100vw;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
    background-color: #000;
    overflow-x: hidden;
}

:root {
    --shadow-color: 0deg 0% 63%;
    --shadow-elevation-low:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.34),
      0.4px 0.8px 1px -1.2px hsl(var(--shadow-color) / 0.34),
      1px 2px 2.5px -2.5px hsl(var(--shadow-color) / 0.34);
    --shadow-elevation-medium:
      0.3px 0.5px 0.7px hsl(var(--shadow-color) / 0.36),
      0.8px 1.6px 2px -0.8px hsl(var(--shadow-color) / 0.36),
      2.1px 4.1px 5.2px -1.7px hsl(var(--shadow-color) / 0.36),
      5px 10px 12.6px -2.5px hsl(var(--shadow-color) / 0.36);
}

* {
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: #a6a6a6 #c7c7c7;
}

    /* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
        width: 16px;
}
    
*::-webkit-scrollbar-track {
        background: #c7c7c7;
}
    
*::-webkit-scrollbar-thumb {
        background-color: #a6a6a6;
        border-radius: 10px;
        border: 3px none #ffffff;
}


@font-face { 
    font-family: 'Poppins'; 
	src: url('./fonts/Poppins-Regular.ttf'); 
} 

@font-face { 
    font-family: 'Pokemon'; 
	src: url('./fonts/Pokemon-Classic.ttf'); 
} 

.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

/* Splash Screen */

.half-container {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding: max(45px);
}

.title {
    width: min(230px);
    height: 106px;
}

.splash-screen.image {
    background-image: url('./imgs/splashscreen.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.action-button {
    padding: 10px 12px;
    color: #fff;
    background-color: #0da31e;
    border-radius: 15px;
    outline: 0;
    border: 0;
    font-family: 'Poppins';
    font-size: 20px;
}

.action-button:hover {
    background-color: #11b924;
}

/* Intro */

.oak {
    width: min(90px);
    height: 150px;
}

.half-container--no-padding {
    padding: 0px;
}

.half-container.intro {

    background-image: url('./imgs/intro.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.half-container.oak-sprite {
    justify-content: center;
}

.dialog-box {
    background-image: url('./imgs/dialog-box.png');
    font-size: 12px;
    background-repeat: no-repeat;
    object-fit: fill;
    background-size: 100% 78px;
    font-family: 'Pokemon';
    min-width: 320px;
    min-height: 78px;
}

.dialog-box > * {
    padding-left: 1.2em;
    margin-top: 0.5em;
    padding-right: 1.85em;
}

/* Game */

.picture {
    display: flex;
    width: 100vw;
    justify-content: center;
}

.container--center {
    justify-content: center;
    justify-items: center;
    align-items: center;
}

.action-panel {
    background-color: #fff;
    border-radius: 15px 15px 0px 0px;
    grid-template-columns: repeat(auto-fit, 50vw);
    justify-content: center;
    display: grid;
    height: auto;
    row-gap: 1em;
}

.add-pokemon-screen {
    flex-flow: column wrap;
}

.selected-pokemons, .reserved-pokemons {
    display: grid;
    grid-template-columns: repeat(auto-fit, min(10em));
    list-style: none;
    justify-content: center;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
}

.selected-pokemons > *, .reserved-pokemons > * {
    margin: 1em;
    text-align: center;
    border: 0.5px solid #000;
    border-radius: 7.5px;
    height: 284px;
    box-shadow: var(--shadow-elevation-medium);
}

.selected-pokemons h1, .reserved-pokemons h1 {
    margin: 0px;
    padding: 0px;
}

.selected-pokemons button, .reserved-pokemons button {
    box-shadow: var(--shadow-elevation-low);
}

.half-container--align-unset {
    align-items: unset;
}

.pokemon-button {
    outline: none;
    border: none;
    border-radius: 7.5px;
    width: 75px;
    height: 75px;
    color: #11b924;
}

#open-add-pokemon-screen-button {
    position: absolute;
    text-align: center;
}

/* Add pokemons */
.panel {
    background-color: #f1f1f1;
    color: #000;
    border-radius: 15px 15px;
}

.close-button {
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 7px;
    position: relative;
}

.text-input {
    min-width: 320px;
    border-radius: 7.5px;
    border: none;
    padding: 8px;
    outline: 1px;
}

#list-all-pokemons {
    overflow: auto;
    overflow-x: hidden;
    height: calc(100vh - 138px);
    min-width: 320px;
    list-style: none;
    grid-template-columns: repeat(auto-fit, 10em);
    justify-content: center;
    display: grid;
    margin: 0px;
    margin-top: 138px;
    padding: 0px;
}

#list-all-pokemons > * {
    text-align: center;
    border: 0.5px solid #000;
    border-radius: 7.5px;
    width: 120px;
    margin: 0.5em;
    height: 200px;
    box-shadow: var(--shadow-elevation-medium);
}

#list-all-pokemons > * > img {
    height: 96px;
    width: 96px;
    box-shadow: var(--shadow-elevation-low);
}

#list-all-pokemons > * > button {
    box-shadow: var(--shadow-elevation-low);
}

.fixed {
    position: fixed;
    top: 0px;
    background-color: #e6e3e3;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
    height: 138px;
    box-shadow: var(--shadow-elevation-low);
}


#error-too-many-selected-pokemons {
    border-radius: 15px;
    background-color: #e10000;
    color: #f1f1f1;
    height: 64px;
    text-align: center;
    min-width: 320px;
    box-shadow: var(--shadow-elevation-medium);
}

#alert-selected-pokemons {
    border-radius: 15px;
    background-color: #00e129;
    color: #f1f1f1;
    height: 64px;
    text-align: center;
    min-width: 320px;
    box-shadow: var(--shadow-elevation-medium);
}

/* Teams */


.group {
    height: 22em;
    overflow: auto;
    overflow-x: hidden;
    text-align: center;
}

.group h1 {
    margin: 0px;
    padding: 0px;
}

#error-too-many-pokemons {
    border-radius: 15px;
    background-color: #e10000;
    color: #f1f1f1;
    height: 64px;
    text-align: center;
    width: 200px;
    display: inline-block;
    box-shadow: var(--shadow-elevation-medium);
}

/* Moves modal */

.modal {
    width: 80vw;
    height: 500px;
    position: absolute;
    background-color: #f1f1f1;
    overflow-y: scroll;
    border-radius: 7.5px;
    display: flex;
    flex-flow: column;
}

.modal h2 {
    text-align: center;
}

.modal button {
    position: absolute;
    height: 35px;
    width: 35px;
    border: 1px;
    background-color: #e10000;
    color: #fff;
    display: flex;
    align-self: flex-end;
    align-items: center;
    justify-content: center;
}


.overlay {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(000, 000, 000, .7);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Media */
@media (orientation:landscape) {
    .action-panel {
        grid-template-columns: repeat(auto-fit, 50vw);
    }

    .selected-pokemons, .reserved-pokemons {
        grid-template-columns: repeat(auto-fit, 15em);
    }

    .group {
        width: 50vw;
    }

    .modal {
        width: 30vw;
    }

    .dialog-text {
        padding-left: 25px;
        padding-right: 50px;
    }
}
